<div class="header">
  <div class="logo">
  </div>
  <div class="navigation">
    <!-- TODO change to Navbar -->
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
	<li><a href="https://github.com/anas-ambri/Cortex/wiki/What-is-Cortex%3F">About</a></li>
	<li><a href="https://github.com/anas-ambri/Cortex/wiki">Wiki</a></li>
    </ul>
  </div>
</div>
