<% layout('reusable/boilerplate') -%>
<% script('http://codeorigin.jquery.com/jquery-2.0.3.min.js') -%>
<% script('http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js') -%>
<% script('../../js/faye.min.js') -%>
<% script('http://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js') -%>
<% script('http://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-sanitize.js') -%>
<% stylesheet('http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css') %>
<% script('js/client_utils.js') %>
<% script('js/client_faye.js') %>
<% script('js/client.js') %>
<% stylesheet('css/style.css') %>
<%- partial('reusable/header') %>
<div class="container" ng-app="myApp">
  <div class="chatboard col-lg-8" ng-controller="ChatCtrl">
    <div class="chat-alert alert alert-error" ng-show="inputError">
      {{inputError}}
    </div>
    <div class="chat-messages">
    </div>
    <div class="chatbox">
      <textarea ng-model="chatInput"></textarea>
      <button id="send" ng-click="sendMessage()">Send</button>
    </div>
  </div>
  <div class="col-lg-4 offset9 channels-view" ng-controller="ListChannelsCtrl">
    <ul class="subscribed-channels">
      <h3>Listens to:</h3>
      <li ng-repeat="channel in subscribeChannels">{{channel}}<button class="remove" ng-click="removeSubscribeChannel($index)">X</button></li>
    </ul>
    <div class="add-channel">
      <input type="text"  name="channel-query" ng-model="newSubscribeChannel"/>
      <button id="join-channel" ng-click="addSubscribeChannel()">Join</button>
    </div>

    <ul class="publish-channels">
      <h3>Sends to:</h3>
      <li ng-repeat="channel in publishChannels">{{channel}}<button class="remove" ng-click="removePublishChannel($index)">X</button></li>
    </ul>
    <div class="add-channel">
      <input type="text"  name="channel-query" ng-model="newPublishChannel"/>
      <button id="join-channel" ng-click="addPublishChannel()">Join</button>
    </div>

  </div>

</div>
